<!DOCTYPE html>
<html>
  <head>
    <title>About</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <h1><%= message %></h1>
    <p>This is the About page of our Express app.</p>
    <a href="/">Go back to Home Page</a>
    <img src="/image/city.jpg" alt="sky line" srcset="" />
  </body>
</html>
